html{
    display: contents;
    height: 100%;
}
body{
    height: 100%;
}

main{
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: [col-start]1fr [col-2] 5fr [col-end];
    grid-auto-rows: 1fr 2fr;
    grid-template-areas:
        "req resp"
        "gr gr";
    justify-content: center;
    align-content: center;
}

.request{
    grid-area: req;
    border : solid black;
}

.response{
    grid-area: resp;
    border : solid red;
}

.response ol{
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
}

.graph{
    grid-area: gr;
    border : solid green;
    width: 100%;
    margin: 0 auto;
}

.btn{
    width: max-content;
    width: 100%;
    height: 100%;
    font-size: large;
    background-color: antiquewhite;
}